@model Ejercicio1.Models.Entities.CLSPersona

<div class="text-center">
    <h1 class="display-4">Hola</h1>

    <p>@ViewData["Mensaje"]</p>
    <p>@ViewBag.fecha</p>
    <p>ID: @Model.ID</p>
    <p>Nombre: @Model.nombre</p>
    <p>Edad: @Model.edad</p>

</div>
